<header class="header">
    <div class="col-12 mx-auto">
        <div class="row mx-auto">
            <nav class="col-12 col-lg-6 navbar navbar-expand-lg navbar-light bg-light d-flex mr-lg-auto">

                <a class="col-12 col-lg-6 mx-auto d-flex justify-content-center" href="#">
                    <img class="logo mx-auto" src="../images/logo-header.jpeg" alt=""><span class="barra"></span>
                </a>
                <div class="container d-flex mx-auto justify-content-center">
                    <button class="col-12 navbar-toggler mx-auto my-1" style="outline: none!important;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-12 justify-content-center collapse navbar-collapse px-0" id="navbarSupportedContent">
                    <ul class="__ul-nav navbar-nav px-0 my-1">

                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a class="nav-link active text-center d-inline my-auto mx-auto" href="#nosotros">Nosotros<span class="sr-only">Nosotros</span></a>
                        </li>
                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a class="nav-link active text-center d-inline my-auto mx-auto" href="#accionesConcretas">Acciones Concretas<span class="sr-only">Acciones Concretas</span></a>
                        </li>
                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a href="https://www.facebook.com/fundacionramseyer/photos" target="_blank" class="nav-link active text-center d-inline my-auto mx-auto">Imágenes<span class="sr-only">Imágenes</span></a>
                        </li>
                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a class="nav-link active text-center d-inline my-auto mx-auto" href="#involucrate">Involucrate<span class="sr-only">Involucrate</span></a>
                        </li>
                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a href="https://twitter.com/Fundac_Ramseyer" target="_blank" class="nav-link active text-center d-inline my-auto mx-auto">Noticias<span class="sr-only">Noticias</span></a>
                        </li>
                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a class="nav-link active text-center d-inline my-auto mx-auto" href="#contacto">Contacto<span class="sr-only">Contacto</span></a>
                        </li>



                    </ul>
                </div>
            </nav>
            <div class="boton col-11 col-md-4 col-lg-2 d-flex mx-auto justify-content-center mt-2 mb-4 px-0  mr-lg-5 ml-lg-auto my-lg-auto">
                <a href="#id_donar" type="button" class="__btn-donar col-12 mx-auto btn btn-warning btn-block ml-lg-auto">Donar</a>
            </div>
        </div>
    </div>
</header>