#acciones{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lead{
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    padding-top: 20px;
    width: 95%;
}

#ir{
    width: 20%;
    font-size: small;
   margin: 5px;
    color: white;
    background-color: rgb(243, 156, 31);
}
#donar{
    width: 30%;
    font-size: small;
    margin: 5px;
    color: white;
    background-color: rgb(243, 156, 31);
}
#ir:hover{
    color: #000!important;
    border: 1px solid #000;
    background-color: rgb(233, 142, 14);
}

#donar:hover{
    color: #000!important;
    border: 1px solid #000;
    background-color: rgb(233, 142, 14);
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 3rem 0;
    width: 95%;
    /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
  }
#img-acciones{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
  

/* RESPONSIVE CSS
-------------------------------------------------- */

  @media (max-width: 800px) {
    .featurette-heading {
      margin-top: 6rem;
    }
    #ir{
        width: 400px;

    }
    #donar{
        width: 400px;;
    }
    .featurette{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    #p-acciones{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

  }
  