.card-img-top {
    height: 375px;
}

.tituloH1 {
    font-size: 2.5rem;
}

.involucrate {
    background-color: #F0D9EA;
}

hr {
    border-color: black;
}

.containerInvolucrate {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 10px;
}

@media (max-width: 768px) {
    .containerInvolucrate {
        max-width: 100%;
        padding: 30px 10px;
        flex-direction: column;
    }
}