body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  width: 30%;
  height: 125px;
}

.btn{
  background-color: #F39C1F;
}

#navbarNav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.barra{
  font-size: 40px;
  margin-top: 20px;
}


