<section class="container col-12" id="acciones">
    <div class="titulo-acciones">
        <h1 class="titulo-acciones">Acciones Concretas</h1>
    </div>
    <hr class="featurette-divider" id="divider-title">
    <div class="row featurette">
        <div class="col-md-7 order-1" id="p-acciones">
            <h2 class="featurette-heading">CENTRO EDUCATIVO TERAPÉUTICO "UN
                NUEVO SOL"</h2>
            <p class="lead">
                Un Nuevo Sol nace por la necesidad imperiosa de paliar una realidad
                social existente en la región, donde niños y jóvenes con discapacidad
                moderada y severa, se encontraban expuestos al abandono y a la falta
                de políticas públicas locales.
            </p>
            <p class="lead">
                La lejanía con instituciones de similares características (la más cercana se
                encuentra a 48 Km), la dificultad de un transporte público adecuado a las
                necesidades específicas de los niños y la falta de gratuidad en el servicio,
                fueron motivaciones suficientes para decidir ocuparnos en vez de
                preocuparnos.
            </p>
            <a href="http://www.unnuevosol.org.ar/"><button type="button" class="btn btn-warning" id="ir">Ir al sitio</button></a>
            <a href="btn-acciones" ><button type="button" class="btn btn-warning" id="donar">Donar a Un Nuevo Sol</button></a>
        </div>
        <div class="col-md-5"  id="img-contenedor">
            <img src="../images/acciones-nuevosol.webp" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" id="img-acciones" style="margin-top: 10%;">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7" id="p-acciones">
            <h2 class="featurette-heading">CENTRO CULTURAL "MARÍA ELENA WALSH"</h2>
            <p class="lead">
                Nuestro Centro Cultural nace con la misión de convertirse en un referente
                local en el área de la cultura. Es un espacio de encuentro. Es un "Club" de
                amigos con un importante interés por la cultura en todas sus formas. Es un
                espacio de formación personal, de trascendencia, de superación.
            </p>
            <p class="lead">
                En el convergen talleres como lo son los de expresión musical, teatro, coro,
                literatura, pintura, sonido e iluminación, títeres, circo, cerámica y
                emprendedurismo, entre otros.Completan la propuesta, las
                capacitacio|nes docentes, el café literario, el museo fotográfico y su sala
                para cien espectadores en la que se ofrece cine, teatro, música y demás
                expresiones artísticas.
            </p>
            <p class="lead">
                En síntesis, una propuesta cultural en la que niños, jóvenes y adultos
                pueden experimentar la plenitud, la camaradería y el amor por la cultura.
            </p>
            <a href="http://www.unnuevosol.org.ar/"><button type="button" class="btn btn-warning" id="ir">Ir al sitio</button></a>
        </div>
        <div class="col-md-5 " id="img-contenedor">
            <img src="../images/acciones-maria-elena-walsh.webp" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" id="img-acciones" style="margin-top: 15%;">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-1" id="p-acciones">
            <h2 class="featurette-heading">EQUIPO PROFESIONAL ITINERANTE</h2>
            <p class="lead">
                Se trata de un grupo de profesionales formados en Psicología, Psicología.
                Social, Psicopedagogía y Trabajo Social, al servicio de las necesidades
                especiales de aquellos niños y jóvenes que pertenecen a una comunidad
                educativa.
            </p>
            <p class="lead">
                Las escuelas podrán solicitar la intervención de nuestro equipo para
                situaciones relacionadas con dificultades en el aprendizaje, problemas
                psicológicos, sospecha de abuso o maltrato, entre otras.
            </p>
            <p class="lead">  
                El servicio es
                absolutamente gratuito, constituyéndose en una herramienta importante
                para los docentes que consideran necesario el trabajo en equipo para
                resolver las problemáticas surgidas en el aula, en la familia o en la
                comunidad toda.
            </p>
            <a href="http://www.unnuevosol.org.ar/"><button type="button" class="btn btn-warning" id="ir">Ir al sitio</button></a>
        </div>
        <div class="col-md-5" id="img-contenedor">
            <img src="../images/acciones-equipo.webp" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" id="img-acciones" style="margin-top: 10%;">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7" id="p-acciones">
            <h2 class="featurette-heading">AYUDA ASISTENCIAL DIRECTA</h2>
            <p class="lead">
                Una cama, alimentos, atención profesional, útiles escolares, vestimenta,
                calzado, etc., etc., son aquellas cosas con las que colaboramos frente a la
                necesidad concreta. Sumar tu ayuda para llevar adelante cualquiera de
                las acciones mencionadas, es lo que nos permite realizarlas.
            </p>
            <p class="lead">
                Te necesitamos. Solos no podemos. Juntos somos más.
                Con la fuerza del amor podremos seguir ganándole al hambre, a la
                indiferencia, al abandono.
            </p>
            <a href="http://www.unnuevosol.org.ar/"><button type="button" class="btn btn-warning" id="ir">Ir al sitio</button></a>
        </div>
        <div class="col-md-5" id="img-contenedor">
            <img src="../images/acciones-ayuda.webp" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" id="img-acciones" >
        </div>
    </div>
</section>
<br>