<header class="header">
    <div class="col-12 mx-auto">
        <div class="row mx-auto">
            <nav class="col-12 col-lg-6 navbar navbar-expand-lg navbar-light bg-light d-flex mr-lg-auto">

<<<<<<< HEAD

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img class="logo" src="../images/logo-header.jpeg" alt=""><span class="barra"></span></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav d-flex flex-row bd-highlight mb-3">
                <li class="p-2 bd-highlight nav-item active">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="p-2 bd-highlight nav-item active">
                    <a class="nav-link" href="#">Acciones concretas</a>
                </li>
                <li class="p-2 bd-highlight nav-item active">
                    <a class="nav-link" href="#involucrate">Involucrate</a>
                </li>
                <li class="p-2 bd-highlight nav-item active">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="boton">
            <button type="button" class="__btn-donar btn btn-warning">Don치</button>
=======
                <a class="col-12 col-lg-6 mx-auto d-flex justify-content-center" href="#">
                    <img class="logo mx-auto" src="../images/logo2.jpeg" alt=""><span class="barra"></span>
                </a>
                <div class="container d-flex mx-auto justify-content-center">
                    <button class="navbar-toggler mx-auto my-1" style="outline: none!important;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-12 justify-content-center collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="__ul-nav navbar-nav mx-auto my-1">
                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a class="nav-link active text-center d-inline my-auto mx-auto" href="#">Inicio<span class="sr-only">Inicio</span></a>
                        </li>
                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a class="nav-link active text-center d-inline my-auto mx-auto" href="#">Nosotros<span class="sr-only">Nosotros</span></a>
                        </li>
                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a class="nav-link active text-center d-inline my-auto mx-auto" href="#">Acciones Concretas<span class="sr-only">Acciones Concretas</span></a>
                        </li>
                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a class="nav-link active text-center d-inline my-auto mx-auto" href="#">Im치genes<span class="sr-only">Im치genes</span></a>
                        </li>
                        <li class="__li-nav nav-item my-1 mx-lg-1 d-flex justify-content-center">
                            <a class="nav-link active text-center d-inline my-auto mx-auto" href="#">Involucrate<span class="sr-only">Involucrate</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="boton col-12 col-md-4 col-lg-2 d-flex mx-auto justify-content-center my-3 px-0  mr-lg-4 ml-lg-auto my-lg-auto">
                <button type="button" class="__btn-donar col-12 mx-auto btn btn-warning btn-block ml-lg-auto">Don치</button>
            </div>
>>>>>>> b774c693cb81f57921c46109038d76a6b5277944
        </div>
    </div>
</header>