<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/transferencia.css">
    <title>Document</title>
</head>

<body>
    <div class="principalTransferencia">
        <h1 class="titleTransf">Transferencia Bancaria</h1>
        <h2>Datos:</h2>
        <h3>Fundación Beatriz Ramseyer</h3>
        <h3>Cbu 0200322901000040078479</h3>
        <h3>Cuit 30715024930</h3>
    </div>
</body>

</html>