/* text area - form */
.bf_contact-textarea{
	/* height: 800px; */
	resize: none;
	/* overflow: scroll; */
}

/* text under form */
.bf_text_contact{
	margin-bottom: 80px;
}

.bf_submit_button{
	color: white;
	background: rgb(243, 156, 31);
}