/*-----Estilo Contenedor Nosotros-----*/
#nosotros{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 217, 234, 0.6);
}
/*--------Titulo Nosotros----------*/
.titulo-nosotros{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-bottom: 0px;
    margin-left: 3%;
    margin-top: 3%;
}
/*----------Estilo Parrafos-----------*/
.p-nosotros{
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    
}
/* Featurettes
------------------------- */

 /* Space out the Bootstrap <hr> more */
 .featurette-divider {
    margin: 3rem 0;
    width: 95%;
    
  }
  #divider-title{
    margin-top: 0px;
}

.img-nosotrosCarlos{
    width: 250px;
    height: 250px;
    margin: 0px;
    padding: 0px;
}
.img-nosotrosBebe{
    width: 550px;
    height: 413px;
}
.img-nosotrosNiños{
    padding-bottom: 9%;
}
#fund-datos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-datos{
    font-family: Questrial;
    font-style: normal;
    font-weight: bold;
    margin-top: 5%;
  }