
/*-----Estilo Contenedor Nosotros-----*/
.nosotros{
    display: flex;
    flex-direction: column;
    background-color:#F6E8F2;
}
/*--------Titulo Nosotros----------*/
.titulo-nosotros{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-bottom: 0px;
    margin-left: 3%;
    margin-top: 3%;
}
/*----------Estilo Parrafos-----------*/
.p-nosotros{
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    
}

 /* ---Divisor <hr> -------*/
 .featurette-divider {
    margin: 3rem 0;
    width: 95%;
    
  }
  #divider-title{
    margin-top: 0px;
}
/*----------Estilo Imagenes -----------*/

.img-nosotrosCarlos{
    width: 200px;
    height: 220px;
    margin: 0px;
    padding: 0px;
    border: outset;
    padding: 1px;
}
.img-nosotrosBebe{
    width: 480px;
    height: 350px;
    border: outset;
    padding: 1px;
}
.img-nosotrosNiños{
    width: 350px;
    height: 300px;
    padding: 1px;
    border: outset;
}

/*----------Estilo Datos Fundación-----------*/
#fund-datos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-datos{
    font-family: Questrial;
    font-style: normal;
    font-weight: bold;
    margin-top: 5%;
  }

  /* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width:992px) and (max-width: 1150px) {
    .img-nosotrosCarlos{
        width: 96%;
}
    } 
@media (max-width: 1000px) {

    .contendor-1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #container-p{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .img-nosotrosBebe{
        width: 95%;
        height: 95%;
    }
    .img-nosotrosNiños{
        width: 95%;
        height: 95%;
    }
}
@media (max-width: 500px){
    .img-nosotrosNiños{
        margin-top: 20%;
        
    }
}