<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Fundacion Ramseyer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/header.css">
    
   
  </head>
  <%- include('partials/header.ejs') %> 
  <body>
    <%- include('carrusel.ejs') %>   
    <%- include('involucrate.ejs') %>   
    <%- include('partials/script.ejs') %> 
  </body>
</html>
