<link rel="stylesheet" href="/stylesheets/involucrate.css">
<div class="involucrate" id="involucrate">


    <div class="container">
        <div class="titulo">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h1>
                            Involucrate
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="card-deck">
            <div class="card">
                <img src="/images/pasantias.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pasantias</h5>
                    <p class="card-text">Más de 20 años de comunión con el servicio y la consecuente experiencia en discapacidad, derechos vulnerados y desarrollo social, nos permiten ofrecerte el marco adecuado para que puedas realizar tus pasantías en nuestra institución.
                        Indicale al sector de pasantías de tu escuela, instituto o universidad, que se contacten con nosotros para la gestión..</p>
                </div>
            </div>
            <div class="card">
                <img src="/images/padrinazgo.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Padrinazgo</h5>
                    <p class="card-text">Ser padrino de nuestra Obra significa constituirte en dador de alegrías. Podés ser: y ayudarnos a pagar el servicio eléctrico de nuestra escuelita. y ayudarnos con los alimentos. y ayudarnos con los medicamentos o con los tratamientos.
                        y ayudarnos con el combustible y mantenimiento de nuestra vieja camioneta..</p>

                </div>
            </div>
            <div class="card">
                <img src="/images/voluntario.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Voluntariado</h5>
                    <p class="card-text">Ser voluntariado es una de las experiencias más satisfactorias que puedas realizar. Comprometerte activamente con la persona en situación de vulnerabilidad y hacia la sociedad en general. En nuestra Fundación las puertas están abiertas
                        para que experimentes la alegría de dar en las diferentes áreas, puede ser forma virtual o presencial. Anímate! .</p>
                </div>
            </div>
        </div>
    </div>
</div>